.actor.sheet.character .crb-style .perception .pf-rank,
.actor.sheet.character .crb-style .sheet-body .sheet-content .tab.proficiencies ul.proficiencies-list li .button-group button {
	width: 7.5em;
}

.actor.sheet.character .crb-style aside .sidebar .armor-class .shield-max-status .max label {
	width: 6em;
}

.actor.sheet.character .crb-style aside .sidebar .armor-class .shield label {
	line-height: 9px;
}